<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">
<!--&#91;if lt IE 9&#93;>
<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<!&#91;endif&#93;-->
<script   src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
<link rel="shortcut icon" href="">
<script src="/js/api.js"></script>
</head>
<body>
<article>
コメント分析API
</article>
<form id="api-form" method='get' action='/api'>
<input id="comment" name="comment" type="text-field" size="70">
<input id="btn" type="submit" value="送信">
</form>
<p>
カテゴリ:<span id="category"></span>
</p>
<p>
評価:<span id="evaluation"></span>
</p>
</body>
</html>

